
<div id="DownloadSelectedHistoricalFileModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">History For - <span id="FileNameToReplace"></span></h4>
            </div>
            <div class="modal-body">
                <p>You Are about to download <u><b><span id="FileNameToReplace"></span></b></u>.</p>
                <p>NB! this is for your own record and will not locak the current file. </p>
                
                <p>
                    <b>
                        Click download to proceed
                    </b>
                    <a href="#" class="btn btn-warning" onclick="DownloadHistoricalFile()">Download</a> Else Click Close to cancel.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
